body {
  /* background-color: #e2e2e2; */
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
}

.dr-d-none{
  display: none;
}
.dr-d-flex{
  display: flex;
}

.dr-card{
  margin-bottom: 16px;
  background: #FFF;
  padding: 16px 8px;
  border-bottom: 1px solid #e2e2e2;
}
.dr-img-wrapper{
  min-width: 70px;
  height: 52px;
  display: block;
  background-size: cover;
  border-radius: 4px;
  margin-right: 16px;
}
.dr-article__header-footer-wrapper{
  flex-grow: 1;
}
.dr-article__header{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 13px;
  margin-bottom: 8px;
}
.dr-article__header a{
  color: #a5a4a4;
}
.dr-article__header__child--separator::after{
  content: '\25CF';
  color: #ccccca;
  margin: auto 8px;
}
a.dr-article__header__post-reddit-link{
  color: #0079d3;
}
.dr-article__body{
  font-size: 14px;
  margin-bottom: 16px;
}
.dr-article__body a{
  color: #222;
}
.dr-article__footer__child{
  font-size: 12px;
  display: flex;
}
.dr-article__footer__child--left{
  justify-content: flex-start;
}
.dr-article__footer__child--right{
  justify-content: flex-end;
}
.dr-article__footer__child--left button,
.dr-article__footer__child--right button{
  background-color: transparent;
  border: none;
}
.dr-article__footer__child--left i::before{
  font-size: 14px;
}
.dr-article__footer__child--right i::before{
  font-size: 12px;
  color: #313131;
}

.dr-comments{
  color: #313131;
  text-decoration: none;
}

/* .dr-thumbnail--hide{
  display: none;
} */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
  margin-left: 0 !important;
}